/* CSS Code Specific for the car_inventory page(s) */
/* Author: Hans Erritzøe */

.status {
    display: inline-block; /* defines the status labels as an inline block, making it not take up the entire space of the datacell */
    padding: 3px 9px; /* Height then width padding */
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.status.available {
    background-color: mediumseagreen;
}

.status.rented {
    background-color: #f1c40f;
    color: #000;
}


/* Table styling ends here */