/* CSS Code Specific for the damage_report pages */
/* Author: Hans Erritzøe */

thead th {
    white-space: nowrap;
}

.status {
    display: inline-block; /* defines the status labels as an inline block, making it not take up the entire space of the datacell */
    padding: 3px 9px; /* Height then width padding */
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.status.paid {
    background-color: mediumseagreen;
}

.status.unpaid {
    background-color: #f1c40f;
    color: #000;
}

/* For some reason this was automatically applied to the css in browsers
and had to be set to none to avoid underline on the button text */
a:-webkit-any-link {
    text-decoration: none;
}

/* Edit damage report css below */

h2 {
    font-size: 2em;
    margin: 0;
}

#damage_description {
    margin-top: 0;
    margin-bottom: 8px;
}

/* Edit damage report css ends here */