/* CSS Code Specific for the damage_report page(s) */
/* Author: Hans Erritzøe */

.content {
    padding-left: 25%;
}

h1 {
    font-size: 2.5rem;
}

thead th {
    white-space: nowrap;
}

#add_damage_report_button {
    display: flex;
    white-space: nowrap;
    margin-bottom: 0.3vh;
}

#add_damage_report_button button {
    color: white;
    font-size: 1.2rem;
    padding: 4px 7px;
    border-radius: 8px;
    border: none;
    background-color: var(--accent);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#add_damage_report_button button:hover {
    background-color: #154965;
}

.status {
    display: inline-block; /* defines the status labels as an inline block, making it not take up the entire space of the datacell */
    padding: 3px 9px; /* Height then width padding */
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.status.paid {
    background-color: mediumseagreen;
}

.status.unpaid {
    background-color: #f1c40f;
    color: #000;
}

/* For some reason this was automatically applied to the css from the browser
and had to be set to none to avoid underline on the button text */
a:-webkit-any-link {
    text-decoration: none;
}