body{
    background-color: var(--background);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    font-size: 2.4em;
    color: var(--text-color);
    height: 10vh;
    min-height: 38.4px; /*Pixel højde udregnet med https://pixelsconverter.com/em-to-px for at passe med em*/
    width: 100%;
    padding: 2%;
}

#logout-button{
    color: var(--text-color);
    background: none;
    border: none;
    padding: 0;
    font-size: 1em;
}

.nav-button{
    color: var(--text-color);
    background: none;
    border: none;
    padding: 2vh 1vh;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-button:hover{
    background-color: var(--accent);
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: var(--seconday-color);
    height: 100vh;
    width: 10vw;
    min-width: 150px;
    padding: 2%;
}
