/* CSS design for often used components such as buttons
   Author: Hans og Jonas
*/

.failure_message {
    color: #e57e7e;
    font-size: 1.5rem;
    width: 60vw;
    white-space: nowrap;
    margin-bottom: 2vh;
    text-decoration: underline;
}

.success_message {
    color: var(--accent);
    font-size: 1.5rem;
    width: 60vw;
    white-space: nowrap;
    margin-bottom: 2vh;
    text-decoration: underline;
}

.add_element_button {
    white-space: nowrap;
    margin-bottom: 0.3vh;
}

.add_element_button button {
    color: white;
    font-size: 1.2rem;
    padding: 4px 7px;
    border-radius: 8px;
    border: none;
    background-color: var(--accent);
    cursor: pointer;
    transition: background-color 0.3s ease; /* adds a transition effect that makes the color change 'ease' into another color */
    font-weight: bold;
}

.add_element_button button:hover {
    background-color: #154965;
}

/* For some reason this was automatically applied to the css from the browser
and had to be set to none to avoid underline on the button text */
a:-webkit-any-link {
    text-decoration: none;
}


/* Table styling starts here */
/* Author: Hans Erritzøe */

#table_search_div {
    display: flex;
    width: 65vw;
    justify-content: left;
    align-items: center;
}


#table_search_div form input {
    font-size: 1.1rem;
    padding: 4px 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#table_search_div button {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 1.09rem;
}

table {
    border-collapse: collapse; /* Collapses the borders into a single border for a cleaner view */
    margin-top: 0.2vw;
    text-align: left;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.1); /* Add's 2 shadows, 1 softer than the other */
    border-radius: 5px;
    overflow: auto; /* Adds scrollbar if extends beyond view */
}

thead {
    background-color: var(--secondary);
    color: white;
}

thead th {
    padding: 13px;
    font-size: 1.1rem;
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid rgba(204, 204, 204, 0.65);
}

tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    white-space: nowrap; /* Makes the rows extends horizontally instead of wrapping to next line */
}

.table_edit_button {
    display: inline-block; /* defines the button as an inline block, making it not take up the entire space of the datacell */
    padding: 4%;
    border-radius: 8px;
    background-color: var(--accent);
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.table_edit_button:hover {
    background-color: #154965;
}

.table_delete_button {
    display: inline-block; /* defines the button as an inline block, making it not take up the entire space of the datacell */
    padding: 4%;
    border-radius: 8px;
    background-color: #ff6565;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 4%;
}
.table_delete_button:hover {
    background-color: #d55454;
}

/* Defines the css for status labels in the tables below */

.status {
    display: inline-block; /* defines the status labels as an inline block, making it not take up the entire space of the datacell */
    padding: 3px 9px; /* Height then width padding */
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.status.green {
    background-color: mediumseagreen;
}

.status.yellow {
    background-color: #f1c40f;
    color: #000;
}

.status.red {
    background-color: #e57e7e;
}

/* Table styling ends here */