<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{layout :: common-head}"></div>
</head>
<body>
<div class="main-content">
    <div th:replace="~{layout :: header}"></div>
    <div th:replace="~{layout :: navbar}"></div>
    <div class="content">
        Rented out: <span th:text="${UnavailableTotal}"></span>
        Available: <span th:text="${AvailableTotal}"></span>
        Expected Revenue <span th:text="${ExpectedRevenue}"></span>
        Handle needed: <span th:text="${HandleTotal}"></span>
    </div>
</div>
</body>
</html>