<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Author: Hans Erritzøe
        Created: 4/12-2024
        Description: Login page for Bilabonnement A/S
        Version: 1.0
      -->
    <script src="http://localhost:35729/livereload.js"></script>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/components.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/pagespecific/loginpage.css">
</head>
<body>
<div id="login_box">
    <h1> Bilabonnement A/S</h1>
    <div id="login_box_form_div">
        <form action="/login" method="post">
            <h2> Medarbejder Login </h2>
            <p> Brugernavn</p>
            <input type="text" name="username" placeholder="Indtast brugernavn" required>
            <p> Password</p>
            <input type="password" name="password" placeholder="Indtast password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <!-- Displays appropriate error message if fails to login -->
    <div th:if="${loginErrorMessage}" id="loginErrorMessage" th:text="${loginErrorMessage}"></div>
    <!-- Display logged out message if user has successfully logged out-->
    <div th:if="${loggedOutMessage}" id="loggedOutMessage" th:text="${loggedOutMessage}"> </div>
</div>
</body>
</html>