<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Author: Hans Erritzøe
        Created: 4/12-2024
        Description: Page for adding a damage to a damage report
        Version: 1.0
      -->
    <script src="http://localhost:35729/livereload.js"></script>
    <div th:replace="~{layout :: common-head}"></div>
</head>
<body>
<div class="main-content">
    <div th:replace="~{layout :: header}"></div>
    <div th:replace="~{layout :: navbar}"></div>
    <div class="content">


        <form th:action="@{/damage/add_damage}" method="post">
            <!-- All fields in a flex container -->
            <div class="form-container">

                <div class="headline_div">
                    <h1> Opret Skade til Skaderapport ID: <span th:text="${damage_report_id}"> </span></h1>
                    <div class="seperator-line"></div>
                </div>

                <div class="form-row">
                    <label>Type</label>
                    <input type="text" name="type" placeholder="Eks: Ridset Rude" required>
                    <p> Indtast hvilken type skade det er, eks: "Bule" </p>
                </div>

                <div class="form-row">
                    <label>Placering</label>
                    <input type="text" name="placement" placeholder="Eks: 'Venstre forrude" required>
                    <p>Indtast hvor på bilen skaden er, eks: 'Venstre Forhjul"</p>
                </div>

                <div class="form-row">
                    <label>Pris</label>
                    <input type="number" name="price" placeholder="Eks: 2000" required>
                    <p> Indtast prisen for denne skade</p>
                </div>

                <input type="hidden" name="id_damage_report" th:value="${damage_report_id}">
                <button type="submit">Gem</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>