<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Author: Hans Erritzøe
        Created: 4/12-2024
        Description: Page for displaying searchable list of all cars in the database
        Version: 1.0
      -->
    <script src="http://localhost:35729/livereload.js"></script>
    <div th:replace="~{layout :: common-head}"></div>
    <link rel="stylesheet" href="/pagespecific/car_inventory.css">
</head>
<body>
<div class="main-content">
    <div th:replace="~{layout :: header}"></div>
    <div th:replace="~{layout :: navbar}"></div>
    <div class="content">
        <h1>Biler</h1>
        <!-- Displays succes or error message depending on if the damage report was added or not to the DB-->
        <div th:if="${successMessage}" class="car_added_success_message" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="car_added_failure_message" th:text="${errorMessage}"></div>
        <div>
            <a th:href="@{/car_inventory/add_car}" id="add_car_button">
                <button>Tilføj Bil</button>
            </a>
        </div>
        <div id="table_search_div">
            <form th:action="@{/car_inventory_search}" method="post">
                <input type="text" name="query" placeholder="Søg på vogn/stelnummer"/>
                <button type="submit">Søg</button>
            </form>
            <a th:if="${filterOn} == true" th:href="@{/car_inventory}" class="clear_search_button">
                <button>Ryd filter</button>
            </a>
        </div>
        <div id="table_div">
        <table>
            <thead>
            <tr>
                <th>Vognnummer</th>
                <th>Stelnummer</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>År</th>
                <th>Status</th>
                <th>Handlinger</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.id_vehicle}"></td>
                <td th:text="${car.VIN}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.year}"></td>
                <td>
                    <span th:if="${car.available}" class="status available">Ledig</span>
                    <span th:if="${!car.available}" class="status rented">Udlejet</span>
                </td>
                <td> <!-- Edit car functionality not implemented yet -->
                    <a th:href="@{'/car_inventory/edit_car/'+${car.id_vehicle}}" class="table_edit_button">Rediger</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>